@charset "UTF-8";
#top-desc {
    
    font-size: 16px;
    top: 0;
}

#description {
    font-family: serif;
}

#description h3{
    text-align: center;  
}

#top-desc h3{
    text-align: center;
}

#top-desc p{
    margin: 0;
}